.main-container {
  margin-bottom: auto;
  width: 60%;
  padding: 0 30px 100px 30px;
}
.play-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.board-pazzle {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  background: #fffbeb;
  border: 1px solid #6b96c9;
}

.rounds {
  display: flex;
  flex-grow: 1;
  width: 100%;
  min-height: 30px;
  font-family: sans-serif;
  border-top: 1px solid #6b96c9;
  border-bottom: 1px solid #6b96c9;
}

.source {
  font-family: sans-serif;
  margin-top: 50px;
  padding: 3px;
  column-gap: 1px;
  width: 100%;
  height: 50px;
  display: flex;
  background: #c8ccce;
  border: 2px solid #495b70;
}

.word {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #495b70;
}

.box-btn {
  display: flex;
  column-gap: 16px;
}

.btn-continue,
.btn-check {
  width: 160px;
  margin-top: 50px;
  padding: 16px 10px;
  color: #efeef7;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.7px;
  background: #9780e3;
  border: transparent;
  border-radius: 20px;
  transition: all 0.7s;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-continue:hover:not([disabled]) {
  background: #5f46b1;
  color: #fff;
}

.btn-check:hover:not([disabled]) {
  background: #5f46b1;
  color: #fff;
}

.error-word {
  background: rgb(168, 77, 77);
}

.right-word {
  background: rgb(107, 195, 107);
}
